.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(8, (10/8)%);
  padding: 0;
  text-align: center;
}

.item1{
	text-align: center;
	grid-column: 1/3;
	grid-row:1/2;
	padding: 40px;
}

.item2{
	padding:20px;
	grid-row:2/4;
	border: 5px solid;
	background-image: url(images/1.png);
	background-size: 500px 400px;
	  color: white;
}

.item3{
	padding:20px;
	border: 5px solid;
	grid-row:2/4;
	background-image: url(images/2.png);
	background-size: 500px 400px;
	  color: white;
}

.item4{
	padding:20px;
	border: 5px solid;
	grid-row:4/6;
	background-image: url(images/3.png);
	background-size: 500px 400px;
	  color: white;
}

.item5{
	padding:20px;
	border: 5px solid;
	grid-row:4/6;
	background-image: url(images/4.png);
	background-size: 500px 400px;
	  color: white;
}

.item6{
	padding:20px;
	border: 5px solid;
	grid-row:6/8;
	background-image: url(images/5.png);
	background-size: 500px 400px;
	  color: white;
}

.item7{
	padding:20px;
	border: 5px solid;
	grid-row:6/8;
	background-image: url(images/6.png);
	background-size: 500px 400px;
	  color: white;
}

.item8{
	text-align: center;
	grid-column:1/3;
	grid-row: 8;
	padding: 40px;
}


img{
	position: absolute;
	display: none;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 105px;
	width: 350px;
	height: auto;
}


nav{
	text-align: center;
	width:100%;
}

nav li{
	display: inline;
	padding: 20px;
}