body{
	background-color: #0F2540;
	color: white;
}

nav ul {
	list-style: none;
	margin:0;
	padding:0;
	width: auto;
}

li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size:20px;
}

li a:hover{
	color: #6A8372;
}

.center {
	text-align: center;
}

img{
	width: 100%;
}

#color1{
	background-color: #6A8372;
}


#color2{
	background-color: #4F726C;
}

.designers{
	font-size: 25px;
}
